$font-btn-size: 1.3em
$font-todo-text-size: 1.3em
$font-todo-time-size: 1em
$font-delete-icon-size: 1.3em
$font-time-second-size: 1.5em
$font-time-colon-size: 3em
$font-family-add-button: "Comfortaa", cursive
