@use "../../abstracts/colors" as c
@use "../../abstracts/fonts" as f
@use "../../abstracts/breakpoints.sass" as b
.container
    display: flex
    flex-direction: column
    color: c.$time-color
    div:first-of-type
        display: flex
        justify-content: flex-end
        h1
            font-size: f.$font-time-hour-minute-size
    div:last-of-type
        display: flex
        h2
            margin: 0 5px
    p
        color: c.$time-seconds-color
        width: 30px
        height: 30px
        font-size: f.$font-time-second-size
        font-weight: bold
        margin-top: 5px
span
    font-size: f.$font-time-colon-size
    margin: 0 4px
    font-weight: bold
@media (max-width: b.$layout-breakpoint-small)
    .container
        div:first-of-type
            h1
                font-size: f.$font-time-hour-minute-size-sm
        div:last-of-type
            h2
                font-size: f.$font-time-date-size-sm
